*{
    margin:0;
    padding:0;
    outline:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;
}
body{
    font-family:"Montserrat";
    line-height:1.7;
    color:var(--color-white);
    background-color:var(--color-bg);
}
/* //CSS variables// */
:root{
    --color-primary:#6c63ff;
    --color-success:#00bf8e;
    --color-warning:#f7c946;
    --color-danger:#f75842;
    --color-danger-variant:rgba(247,88,66,0.4);
    --color-white:#fff;
    --color-light:rgba(255,255,255,0.7);
    --color-black:#000;
    --color-bg:#1f2641;
    --color-bg1:#2e3267;
    --color-bg2:#424890;

    --container-width-lg:76%;
    --container-width-md:90%;
    --container-width-sm:94%;

    --transition:all 400ms ease;
}
.container{
    width:var(--container-width-lg);
    margin:0 auto;
}
section{
    padding:1rem 0;
}
section h2{
    text-align:center;
    margin-bottom:4rem;
}
h1,h2,h3,h4,h5{
    line-height:1.2;
}
h1{
    font-size:2.4rem;
}
h2{
    font-size:2rem;
}
h3{
    font-size:1.6rem;
}
h4{
    font-size:1.3rem;
}
h5{
    font-size:1.3rem;
}
img{
    width:100%;
    object-fit:cover;
    display:block;
}
.btn{
    display:inline-block;
    background-color:var(--color-white);
   color:var(--color-black);
   padding:1rem 2rem;
   border:1px soild transparent;
   font-weight:500;
   transition:var(--transition);
   border-radius:0.5rem;
}
.btn:hover{
    background:transparent;
    color:var(--color-white);
    border-color:var(--color-white);
}
.btn-primary{
    background:var(--color-danger);
    color:var(--color-white);
    border-radius:0.5rem;
}
a{
    color:var(--color-white);
}
p{
    font-size:1.2rem
}
/* //CLOSING OF DEFAULT STYLE// */


/* //Beginning of NAV// */
nav{
    background:transparent;
    width:100vw;
    height:5rem;
    position:fixed;
    top:0;
    z-index:11;
}
.nav__container{

    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.nav__menu{
    display:flex;
    gap:4rem;
}
.nav__menu a{
    font-size:1.3rem;
    transition:var(--transition);
}
.nav__menu a:hover{
    color:gold;
}
nav button{
    display:none;
    height:3rem;
    width:3rem;
    font-size:1.5rem;
    font-weight:bold;
    color:gray;
    border:none;
}
.nav__container h4{
    font-size:2rem;
    margin-right:6rem;
    transition:var(--transition);
}
.uil-shield{
    color:gold;
}
.nav__container h4 a:hover{
    box-shadow:0 2rem 2rem rgba(0,0,0,0.2);
    scale:1.9;
    font-size:2.5rem;
    padding-left:1rem;
    padding-right:0.2rem;
    border-radius:1rem;
    transition:var(--transition);
}
/* Change Navbar on scroll */
.window-scroll{
    background:var(--color-primary);
    box-shadow:0 1rem 2rem rgba(0,0,0,0.2);
}
/* //END OF NAV// */


/* //Beginning of Header// */
header{
    position:relative;
    top:5rem;
    overflow:hidden;
    height:70vh;
    margin-bottom:5rem;

}
.header__container{
    display:grid;
    gap:5rem;
    height:100%;
    align-items:center;
    grid-template-columns:1fr 1fr;
}
.header__left p{
    margin:1rem 0 2.4rem;
}

/* //End of Header// */


/* CATEGORIES */
.categories{
    background:var(--color-bg1);
    height:40rem;
    border-radius:4rem;
}
.categories h1{
    line-height:1;
    margin-bottom:3rem;
}
.categories__container{
    display:grid;
    grid-template-columns:30% 70%;
    gap:7rem;
}
.categories__left p{
    line-height:1;
    margin:1rem 0 3rem;
}
.categories__left{
    margin:1rem 0 3rem;
    transition:var(--transition);
    border-radius:2.5rem;
    height:fit-content;
    text-align: center;
    width:100%;
    /*box-shadow:0 2rem 4rem rgba(0,0,0,0.4);*/
}
.categories__left a{
    margin-bottom:1rem;
}
.categories__left:hover{
    scale:1.03;
    transition:var(--transition);
    box-shadow:0 2rem 4rem rgba(0,0,0,0.4);
    text-align:center;
    border-radius:2.5rem;
    margin-right:2rem;
    height:fit-content;
    width:100%;
}
.categories__right{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1.3rem;
    line-height:2rem;
}
.category{
    background:var(--color-bg2);
    /* padding:2rem; */
    padding:1rem;
    border-radius:2rem;
    transition:var(--transition);
}
.category:hover{
    box-shadow:0 2rem 2rem rgba(0,0,0,0.8);
    z-index:1;
    scale:1.03;
    font-size:1.5rem;
}
.category__icon{
    background:var(--color-primary);
    padding:0.7rem;
    border-radius:0.9rem;
    margin-bottom:2rem;
}
.category h5{
    margin:2rem 0 1rem;
}
/* Use Sudo Selector To Select Each Grid Box */
.category:nth-child(2) .category__icon {
    background:var(--color-danger);
}
.category:nth-child(3) .category__icon {
    background:var(--color-success);
}
.category:nth-child(4) .category__icon {
    background:var(--color-warning);
}
.category:nth-child(5) .category__icon {
    background:var(--color-success);
}
/* End of Categories */

/* Beginning of Popular Courses */
.courses{
    background:var(--color-bg1);
    border-radius:4rem;
    text-align:center;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1.3rem;
    height:120%;

}
.courses:hover{
    background:var(--color-bg2);
    border-color:var(--color-primary);
}
.courses article:hover{
    background:rgba(0,0,0,0.2);
    border-radius:1rem;
}
.popularcourses{
    text-align:center;
    margin-top:15rem;
}
.course__image{
    border-radius:0.5rem;
    align-items:center;
}
.courses__container{
    margin:1.3rem 0 2rem;
    font-size:0.9rem;
    align-items:center;
    margin-bottom:5rem;
}
.courses__container {
    margin-left:1.5rem;
}
/* End of Our Popular Courses */

/* Beginning of FAQS */
.faqs{
    background:var(--color-bg1);
    box-shadow:inset 0 0 3rem rgba(0,0,0,0.5);
    margin-top:4rem;
}
.faqs__container{
    display:grid;
    gap:1rem;
    grid-template-columns:1fr 1fr;

}
.faq{
    display:flex;
    padding:2rem;
    align-items:center;
    cursor:pointer;
    gap:1.4rem;
    height:fit-content;
    background:var(--color-primary);
    border:0.2rem solid var(--color-primary);
}
.faq h4{
    font-size:1.6rem;
    line-height:2.2;
}
.faq__icon{
    font-size:1.6rem;
    font-weight:bold;
    align-self:flex-start;
}
.faq p{
        margin-top:0.8rem;
        display:none;
}
.faq.open p{
    display:block;
}
.faq:hover{
    background:rgba(0,0,0,0.09);
    border:0.2rem solid rgba(0,0,0,0.09);
}
/* End of FAQS */

/* Testimonial */
.testimonial__container{
    position:relative;
    margin-bottom:5rem;
    overflow-x:hidden;
}
.testimonials{
    padding-top:2rem;
}
.avatar img{
    width:6rem;
    height:6rem;
    border-radius:50%;
    overflow:hidden;
    margin:0 auto 1rem;
    border:solid 1rem var(--color-bg1);
}
.testimonial__info{
    text-align:center;
}
.testimonial__body{
    background:var(--color-primary);
    padding:2rem;
   margin-top:3rem;
   position:relative;
}
.testimonial__body:before{
    content:"";
    display:block;
    background:linear-gradient(135deg,transparent,var(--color-primary),var(--color-primary));
    height:3rem;
    width: 3rem;
    position:absolute;
    left:43%;
    top:-1.5rem;
    transform:rotate(45deg);
}
/* End of Testimonial */

/* Footer */
footer{
    background:var(--color-bg1);
    padding-top:5rem;
    font-size:0.9rem;
}
.footer__container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:5rem;
}
.footer__container div h4{
    margin-bottom:1.2rem;
}
footer ul li a:hover{
    text-decoration:underline;
}
.footer__1 p{
    margin:0 0 2rem;
}
.copyright{
    margin-top:2rem;
    text-align:center;
}
/* End of Footer */

/* Responsiveness using Media Queries */
        /* Tablet Mode */
@media screen and (max-width:1024px){

    .container{
        width:var(--container-width-md);
    }
    h1{
        font-size:2.2rem;
    }
    h2{
        font-size:1.7rem;
    }
    h3{
        font-size:1.4rem;
    }
    h4{
        font-size:1.2rem;
    }

    /* NAVBAR */
    nav button{
        display:inline;
        background:transparent;
        font-size:1.8rem;
        color:white;
        cursor:pointer;
    }
    nav #close-menu-button{
        display:none;
    }
    .nav__menu{
        position:fixed;
        top:5rem;
        right:5%;
        height:fit-content;
        width:18rem;
        flex-direction:column;
        gap:0;
        display:none;
    }
    .nav__menu li{
        width:100%;
        height:5.8rem;
        animation:animationNavItems 400ms linear forwards;
        transform-origin:top right;
        opacity:0;
    }
    .nav__menu li a{
        background:var(--color-primary);
        box-shadow:-4rem 6rem 10rem rgba(0,0,0,0.6);
        width:100%;
        height:100%;
        display:grid;
        place-items:center;
    }
    .nav__menu li:nth-child(2){
        animation-delay:200ms;
    }
    .nav__menu li:nth-child(3){
        animation-delay:400ms;
    }
    .nav__menu li:nth-child(4){
        animation-delay:600ms;
    }
    .nav__menu li a:hover{
        background:var(--color-bg2);
        color:white;
    }
    @keyframes animationNavItems {
        0%{
            transform:rotateZ(-90deg);
        }
        100%{
            transform:rotateZ(0deg);
            opacity:1;
        }
    }
    /* END OF NAVBAR */

    /* Header */
    header{
        height:100%;
        margin-bottom:15rem;
    }
    .header__container{
        gap:0;
        padding-bottom:3rem;
    }
    /* End of header */

    /* Categories */
    .categories{
        height:auto;
        margin-top:1rem;
    }
    .categories__container{
        grid-template-columns:1fr;
        gap:3rem;
        margin-top:-4rem;
    }
    .categories__left{
        margin:4rem auto 0rem auto;
        text-align:center;
    }
    .categories__left h1{
        text-align:center;
    }
    .category{
        padding:0.3rem;
    }
    .categories__left:hover{
        scale:1.05;
    }
    .categories h1{
        text-align:center;
    }
    .category__icon{
        margin-top:1rem;
        margin-bottom:2rem;
        margin-left:1rem;
        display:inline-block;
    }
    /* End of Categories */

    /* Popular courses */
    .popularcourses{
        margin-top:8rem;
    }
    .courses{
        height:50%;
    }
    .courses__container{
        grid-template-columns:1fr 1fr;
    }
    /* Faq */
    .faqs__container{
        grid-template-columns:1fr 1fr;
    }
    .faq{
        padding:1.5rem;
    }

    /* End of faq */

    /* footer */
    .footer__container{
        grid-template-columns:1fr 1fr;
    }
}
        /* End of Tablet Mode */
 @media screen and (max-width:790px){
    .question__answer h4{
        font-size:1.35rem;
    }
    .faqs__container{
        grid-template-columns:repeat(1,1fr);
    }
    .header__container{
        display:block;
        text-align:center;
        margin-top:3.5rem; 
    }
    header{
        height:100%;
        margin-bottom:5rem;
     }
 }
        /* Phone */
@media screen and (max-width:600px){
    .container{
        width:var(--container-width-sm);
    }
    .nav__menu{
        right:3%;
    }
    /* Header */
    .header__container{
        display:block;
        text-align:center;
        margin-top:3.5rem; 
    }
    .header__right{
        margin-top:5rem;
    }
    .header__left{
        margin-top:1rem;
    }
    .header__left p{
        margin-bottom:1.3rem;
    }
    /* End of Header */
    /* Categories */
    .category{
        padding:1rem;
        border-radius:1rem;
    }
    .categories__right{
        grid-template-columns:1fr 1fr;
        gap:0.7rem;
        margin-bottom:2rem;

    }
    .category__icon{
        margin-top:4px;
        display:inline-block;
    }
    /* End of Categories */
    /* Popular Courses */
    .courses__container{
        align-items:center;
        margin:1.5rem auto;
    }
    .course__image{
        width:100%;
        height:20%;
        object-position:center center;
        align-items:center;
        margin:auto;
    }
    .courses{
        height:150%;
        width:100%;
        display:block;
        align-items:center;
    }
    .courses__container h4{
        margin-top:0.5rem;
    }
    /* End of Popular Courses */
    /* Faq */
    .faqs__container{
        display:grid;
        gap:1rem;
        grid-template-columns:1fr;
    }
    .faq{
        height:5rem;
    }
    .faq.open{
        height:fit-content;
    }
    .question__answer h4{
        font-size:2.1rem;
        text-align:center;
        padding-left:9vw;
    }
    /* End of Faq */

    /* Testimonial */
    .testimonial__container{
        height:35rem;
        width:100%;
    }
    .swiper-wrapper{
        top:-4rem;
        width: 100%;
    }
    .swiper-slide{
        width:100%;
    }
    .testimonial__body{
        width:100%;
    }
    /* End of Testimonial */
    /* Footer */
    .footer__container{
        display:grid;
        grid-template-columns:1fr;
        gap:3rem;
        text-align:center;
    }
    /* End of Footer */
}
        /* End of phone */
        /* small phone */
@media screen and (max-width:390px){
    .question__answer h4{
        font-size:1.5rem;
        text-align:center;
        padding-left:9vw;
    }
    
}
@media screen and (max-width:340px){
    .nav__container h4{
       font-size:1.5rem;
    }
    .category{
       width:100%;
       padding:0.2rem;
    }
    .categories__left:hover{
        scale:1;
    }
    .question__answer h4{
        font-size:1.2rem;
    }
}
        /* End of small phones */
/* End of Responsiveness */